@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');


body {
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  background: linear-gradient(135deg, #65a0ff, #00ff8c);
}